{% extends "base.html" %}
{% load i18n staticfiles %}

{% block main %}

<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <h1>{% trans "Perfeito, estamos aqui para ajudar você." %}</h1>
      <p class="lead">{% blocktrans %} A Efforia Nanocomputadores pode lhe atender de várias maneiras,
      sempre pensando na melhor solução para o seu problema. Para isso, oferecemos
      nossos equipamentos, instalações e integrações de diferentes formas. {% endblocktrans %}</p>
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row text-center">
    <div class="col-md-4 col-sm-4">
      <a href="mailto:contato@efforia.com.br">
        <img src="{% static 'svg/fast.svg' %}" class="img-responsive img-rounded full-width"/>
      </a>
      <h2>{% trans "Quero uma solução de automação." %}</h2>
      <p>{% blocktrans %} Esta opção é perfeita caso esteja procurando por uma solução personalizada
      de automação, ou pretende integrar a uma existente. Temos a expertise e tecnologia
      para as mais diversas demandas, com valores flexíveis. {% endblocktrans %}</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <a href="mailto:oi@efforia.com.br">
        <img src="{% static 'svg/spectacular.svg' %}" class="img-responsive img-rounded full-width"/>
      </a>
      <h2>{% trans "Vou precisar da tecnologia de vocês." %}</h2>
      <p>{% blocktrans %} É a escolha certa para quem tem um orçamento enxuto e gostaria
      de desfrutar de nossa tecnologia de automação em seu ambiente. Oferecemos nossos
      nanocomputadores por meio de contratos de cessão ou <em>leasing.</em> {% endblocktrans %}</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <a href="/shop/">
        <img src="{% static 'svg/connected.svg' %}" class="img-responsive img-rounded full-width"/>
      </a>
      <h2>{% trans "Apenas quero meu nanocomputador." %}</h2>
      <p>{% blocktrans %} Há também como adquirir nossos nanocomputadores com condições
      especiais na compra à vista, parcelada ou em volume. Confira na nossa loja
      virtual as possibilidades que temos na customização de nossos produtos. {% endblocktrans %}</p>
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row text-center">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-4 col-sm-4">
        <img src="{% static 'svg/box.svg' %}" class="img-responsive third-width photo-xs"/>
        <h3>{% trans "Entrega de graça" %}</h3>
        <p>Temos frete grátis para todo o Brasil. Para encomendas internacionais,
        o valor cobrado varia para cada região e tamanho do produto adquirido.</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <a href="{% url 'localization' %}">
          <img src="{% static 'svg/fabricalogo.svg' %}" class="img-responsive third-width photo-xs"/>
        </a>
        <h3>{% trans "Visite-nos" %}</h3>
        <p>{% blocktrans %} Achou legal nosso trabalho? Visite-nos em nosso espaço de coworking ao centro
        de Porto Alegre/RS - Brasil. Quem sabe não surge uma boa ideia ou parceria. {% endblocktrans %}</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <a href="{% url 'support' %}">
          <img src="{% static 'svg/pocket.svg' %}" class="img-responsive third-width photo-xs"/>
        </a>
        <div class="col-md-offset-3"></div>
        <h3>{% trans "Ajuda para comprar" %}</h3>
        <p>{% blocktrans %} Não sabe ainda bem o que está precisando? Não se preocupe, estamos aqui
        para isso. Contate-nos pelos nossos mais diversos canais de atendimento. {% endblocktrans %}</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
