{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block header %}

<style>

.background {
  background: url("{% static 'img/explosion.jpg' %}") center center;
  background-size: cover;
}

</style>

{% endblock %}

{% block start %}

<link rel="stylesheet" href="{% static 'css/ATOM.css' %}">

<div class="jumbotron background nobottom">
  <div class="transparent-black overlay middle">
    <div class="container">
      <img src="{% static 'svg/atomsimple.svg' %}" style="height:8em; width:100%"/>
      <h2 class="jumbo-highlight white" style="margin-top:1em; font-size:3em">
          {% blocktrans %} TODO O PODER <br>NA PALMA DE SUA MÃO. {% endblocktrans %}
      </h2><br>
    </div>
  </div>
</div>

<div class="container">
  <div class="row text-center">
    <div class="col-md-10 col-md-offset-1">
      <h1>{% trans "Novo Efforia ATOM. Em breve." %}</h1>
      <!--<img src="{% static 'svg/sensors.svg' %}" class="img-responsive img-rounded half-width center-block">!-->
      <p class="highlight nomargin" style="font-size:1.2em">{% blocktrans %} Graças à tecnologia de barramento presente em nossos
        nanocomputadores, é possível acrescentar uma série de sensores para o ATOM
        de modo a fechar o sistema de automação, complementando o seu próximo projeto
        de IoT. {% endblocktrans %}</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row spaces-sm">
    <div class="col-md-6 col-sm-6 middle">
      <div class="col-md-9 col-sm-9 ralign">
        <h2>{% trans "Temperatura e Umidade" %}</h2>
        <p>{% blocktrans %} Com o monitoramento de temperatura, o ATOM é capaz de atuar no ambiente
        emitindo avisos de ultrapassagem de limites e o controlar unidades de
        condicionamento de ar para refrigerar o ambiente. {% endblocktrans %}</p>
      </div>
      <div class="col-md-3 col-sm-3">
        <img src="{% static 'svg/sensors-01.svg' %}" class="img-responsive img-rounded full-width">
      </div>
    </div>
    <div class="col-md-6 col-sm-6 middle">
      <div class="col-md-3 col-sm-3">
        <img src="{% static 'svg/sensors-06.svg' %}" class="img-responsive img-rounded full-width">
      </div>
      <div class="col-md-9 col-sm-9">
        <h2>{% trans "Distância e presença" %}</h2>
        <p>{% blocktrans %} Através do sensor de presença e distância de pessoas e/ou objetos em
        um ambiente, é possível automatizar luzes e acionar avisos e eventos pertinentes
        para cada projeto, podendo ser muito útil para a segurança em alarmes. {% endblocktrans %}</p>
      </div>
    </div>
  </div>
  <div class="row spaces-sm">
    <div class="col-md-6 col-sm-6 middle">
      <div class="col-md-9 col-sm-9 ralign">
        <h2>{% trans "Presença de gás" %}</h2>
        <p>{% blocktrans %} O controle de gás por um determinado fluxo pode ser um sensor adicional
        de grande utilidade para indústrias que utilizam este ativo, e possibilitar
        a automatização de válvulas de escape em uma micro-cervejaria, por exemplo. {% endblocktrans %}</p>
      </div>
      <div class="col-md-3 col-sm-3">
        <img src="{% static 'svg/sensors-03.svg' %}" class="img-responsive img-rounded full-width">
      </div>
    </div>
    <div class="col-md-6 col-sm-6 middle">
      <div class="col-md-3 col-sm-3">
        <img src="{% static 'svg/sensors-02.svg' %}" class="img-responsive img-rounded full-width">
      </div>
      <div class="col-md-9 col-sm-9">
        <h2>{% trans "Presença de água" %}</h2>
        <p>{% blocktrans %} Tal como a presença de gás, permite o monitoramento e controle de válvulas
        da água, que, assim como o outro, o processo de automatização pode trazer
        maior eficiência no fluxo de indústrias que fazem uso desse ativo. {% endblocktrans %}</p>
      </div>
    </div>
  </div>
  <div class="row spaces-sm">
    <div class="col-md-6 col-sm-6 middle">
      <div class="col-md-9 col-sm-9 ralign">
        <h2>{% trans "Câmera" %}</h2>
        <p>{% blocktrans %} Ótimo recurso especialmente para a área da segurança, o sensor de imagem
        permite a captura de fotografias e filmagens de determinados ambientes,
        podendo ser usado para diversos fins de automação. {% endblocktrans %}</p>
      </div>
      <div class="col-md-3 col-sm-3">
        <img src="{% static 'svg/sensors-05.svg' %}" class="img-responsive img-rounded full-width">
      </div>
    </div>
    <div class="col-md-6 col-sm-6 middle">
      <div class="col-md-3 col-sm-3">
        <img src="{% static 'svg/sensors-04.svg' %}" class="img-responsive img-rounded full-width">
      </div>
      <div class="col-md-9 col-sm-9">
        <h2>{% trans "Eletricidade" %}</h2>
        <p>{% blocktrans %} Através de sensores e atuadores adicionais de eletricidade, é possível
        obter todo o controle de chaves de luz e equipamentos bem na palma de sua
        mão, por meio de comandos enviados direto de um smartphone ou tablet. {% endblocktrans %}</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
