{% extends "services/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <h1>{% trans "Serviços" %}</h1>
      <h2 class="highlight">{% blocktrans %} A Efforia oferece um bom número de serviços para você
        ter mais opções para aproveitar o que há de melhor em nossos nanocomputadores,
        sempre de acordo com o que você está mais precisando no momento. {% endblocktrans %}</h2>
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row">
    <div class="col-md-6 col-sm-6 text-center">
      <img src="{% static 'svg/hubprojectsimple.svg' %}" style="height:340px !important" class="box img-responsive full-width">
      <h2>{% trans "Projetos especiais para a sua demanda" %}</h2>
      <p>{% blocktrans %} Está precisando automatizar algo e nossas soluções atuais ainda não encaixam
        para sua demanda? Não se preocupe, a Efforia por meio da tecnologia exclusiva
        EOS garante a criação de projetos especiais de acordo com o que você está
        precisando. Desde uma automação de micro-cervejaria até a de fresadoras,
        a Efforia vai até o seu estabelecimento, avalia sua necessidade, e realiza
        um projeto diferenciado para o seu negócio. {% endblocktrans %}</p>
    </div>
    <div class="col-md-6 col-sm-6 text-center">
      <img src="{% static 'svg/apps.svg' %}" style="height:340px !important" class="box img-responsive full-width">
      <h2>{% trans "Planos de garantia estendida" %}</h2>
      <p>{% blocktrans %} Disponibilizamos para você uma garantia especial para seu equipamento por
        um ano ou mais, sendo cobrado uma taxa única para cada nanocomputador, tendo
        atendimento exclusivo e valores inclusos os serviços de conserto, troca e
        fretamento. Através disso, você mantém todas as unidades adquiridas da Efforia
        sob proteção de defeitos de fábrica, hardware e software, desde que comprovadamente
        não causados pelo usuário. {% endblocktrans %}</p>
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row text-center">
    <div class="col-md-6 col-sm-6">
      <img src="{% static 'svg/cluster.svg' %}" style="height:340px !important" class="box img-responsive full-width">
      <h2>{% trans "Serviços de hospedagem" %}</h2>
      <p>{% blocktrans %} Para suprir as necessidades de conexão à Internet de nossas instalações
        de automação doméstica ou corporativa, a Efforia disponibiliza serviços
        de hospedagem de serviços de IoT, assim como a publicação de serviços web
        instalados neles, a Efforia disponibiliza diversos serviços de nuvem para
        conectar os nanocomputadores aos smartphones, tablets, laptops, e ao mundo. {% endblocktrans %}</p>
    </div>
    <div class="col-md-6 col-sm-6">
      <img src="{% static 'svg/televisionsimple.svg' %}" style="height:340px !important" class="box img-responsive full-width">
      <h2>{% trans "Planos de assinatura de Streaming" %}</h2>
      <p>{% blocktrans %} Quer ter mais opções de canais pelo nosso sistema de automação audiovisual?
        Não se preocupe, a Efforia disponibiliza planos de assinatura de serviços
        de streaming mensais e melhor, aceitamos pagamento por boleto bancário,
        opção normalmente indisponível quando contratado direto com a operadora.
        Aproveite e assine agora e receba nossos nanocomputadores sem custo
        adicional. {% endblocktrans %}</p>
    </div>
  </div>
</div>

{% endblock %}
