{% extends "hub/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block header %}

<style>

.background {
  /* background: url("{% static 'img/hubabg.png' %}") center center; */
  background: url("{% static 'img/ultramodernhouse.jpg' %}") center center;
  background-size: cover;
}

</style>

{% endblock %}

{% block start %}

<link rel="stylesheet" href="{% static 'css/hub.css' %}">

<div class="jumbotron background nobottom">
  <div class="transparent-white overlay middle">
    <div class="container">
      <!--<img src="{% static 'svg/hubsimple.svg' %}" style="height:8em"/>!-->
      <h2 class="jumbo-highlight black" style="background:transparent">
          {% blocktrans %} CONTROLE TOTAL <br>SOBRE QUALQUER LUGAR. {% endblocktrans %}
      </h2><br>
    </div>
  </div>
</div>

<nav class="navbar subnavbar hidden-xs hidden-sm nooverlay">
  <ul class="nav nav-pills submenu right">
    <li class="leftmargin rightmargin">
      <button class="btn btn-info hub-btn" onclick="redirect('/store/choose');">{% trans "Buy" %}</button>
    </li>
    <!--{% include "hub/nav.html" %}!-->
    <li class="left leftmargin">
      <a href="{% url 'hub' %}" style="padding:0px">
        <img class="hub-logo" src="{% static 'svg/hublogo.svg' %}"/>
      </a>
    </li>
    <br>
  </ul>
</nav>

{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col-md-12 spaces-md">
      <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3">
        <img src="{% static 'svg/hubsimple.svg' %}" class="img-responsive"/></div>
      <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <h2 class="highlight">{% blocktrans %} O HUB é a solução eficiente que você esperava em
        praticidade e facilidade em automação doméstica ou corporativa. {% endblocktrans %}</h1></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-4 col-sm-4">
        <img src="{% static 'svg/wirelesssimple.svg' %}" class="img-responsive img-rounded full-width"/>
        <div class="text-center">
          <h1>{% trans "Sem Fios" %}</h1>
          <h3>{% trans "Adeus Embaraço" %}</h3>
          <p>{% blocktrans %} O sistema de conexão sem fio do HUB reduz drasticamente a necessidade
            de ter fios circulando pela sua casa ou empresa. Muitas vezes necessitará
            apenas da tomada e já estará pronto para operar. {% endblocktrans %}</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <img src="{% static 'svg/versatilesimple.svg' %}" class="img-responsive img-rounded full-width"/>
        <div class="text-center">
          <h1>{% trans "Versátil" %}</h1>
          <h3>{% trans "Baterias inclusas" %}</h3>
          <p>{% blocktrans %} Graças a tecnologia EOS que habilita o uso multifuncional do HUB,
            você tem um equipamento completo em suas mãos, podendo servir de
            computador de nuvem, módulo de IoT e até centro de multimídia. {% endblocktrans %}</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <img src="{% static 'svg/economicsimple.svg' %}" class="img-responsive img-rounded full-width"/>
        <div class="text-center">
          <h1>{% trans "Eficiente" %}</h1>
          <h3>{% trans "Consome pouco" %}</h3>
          <p>{% blocktrans %} Comprometido com a natureza, garantimos uma ótima eficiência energética
            ao consumir apenas 5W de potência. Isso dá a possibilidade de ligá-lo em
            televisores, tomadas de celulares e até baterias portáteis. {% endblocktrans %}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container spaces-md">
  <div class="row">
    <div class="col-md-6 col-sm-6 text-center">
      <img src="{% static 'svg/anythingsimple.svg' %}" class="box img-responsive"/>
      <div class="text-center">
        <h1>{% trans "Flexível" %}</h1>
        <h3>{% trans "Funcional em diversas maneiras." %}</h3>
        <p>{% blocktrans %} Pensado completamente sobre uma arquitetura modular, o que permite ser
          conectado de forma independente a dispositivos, o que permite utilizá-lo
          com apenas um cabo de energia se preciso. {% endblocktrans %}</p>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 text-center">
      <img src="{% static 'svg/colouredsimple.svg' %}" class="box img-responsive"/>
      <div class="text-center">
        <h1>{% trans "Customizável" %}</h1>
        <h3>{% trans "Escolha o HUB com a sua cara." %}</h3>
        <p>{% blocktrans %} Nossos nanocomputadores podem sair de fábrica com uma série de customizações
          como cores laterais do case e uma gama de acessórios como pendrives e cabos
          adicionais, todos de acordo com o seu gosto. {% endblocktrans %}</p>
      </div>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row">
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/hublateralsimple.svg' %}" class="img-responsive">
      <div class="text-center">
        <h1>{% trans "Portátil" %}</h1>
        <h3>{% trans "Tudo na palma de sua mão." %}</h3>
        <p>{% blocktrans %} Graças ao tamanho compacto do HUB e à tecnologia EOS, o seu próximo
          sistema de automação poderá ser muito menor do que imagina, e o seu
          controle, ao alcance de um smartphone. {% endblocktrans %}</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/combinatedsimple.svg' %}" class="img-responsive"/>
      <div class="text-center">
        <h1>{% trans "Integrável" %}</h1>
        <h3>{% trans "Conteúdo em qualquer lugar." %}</h3>
        <p>{% blocktrans %} Para automação audiovisual, o HUB permite concentrar e distribuir seu
           conteúdo multimídia para toda a sua empresa ou lar, garantindo conforto
           e facilidade para ver vídeos, músicas e imagens. {% endblocktrans %}</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/televisionsimple.svg' %}" class="img-responsive">
      <div class="text-center">
        <h1>{% trans "Incrível" %}</h1>
        <h3>{% trans "Ótima experiência audiovisual." %}</h3>
        <p>{% blocktrans %} Com o potente processador gráfico instalado no coração do HUB, é possível
           reproduzir conteúdos em full HD e imagens de alta resolução, assim como
           processar gráficos 3D em alta qualidade. {% endblocktrans %}</p>
      </div>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row">
    <img src="{% static 'img/hub-a.png' %}" class="img-responsive third-width visible-xs"/>
    <div class="middle">
      <div class="col-md-4 col-md-offset-1 col-sm-6 col-xs-12 hidden-xs">
        <img src="{% static 'img/hub-a.png' %}" class="img-responsive third-width"/>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <h1 class="centered">{% trans "Especificações" %}</h1>
        <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-01.svg' %}">
        <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-02.svg' %}">
        <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-03.svg' %}">
        <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-04.svg' %}">
        <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-05.svg' %}">
        <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-06.svg' %}">
        <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-07.svg' %}">
        <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-08.svg' %}">
        <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-09.svg' %}">
      </div>
    </div>
  </div>
</div>

{% endblock %}
