{% extends "tv/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <h1>{% trans "Audiovisual" %}</h1>
      <h2 class="highlight">{% blocktrans %} Temos a solução ideal para reprodução multimídia e transmissão
        sem fio de conteúdo audiovisual. No Efforia TV é possível assistir aos mais
        diversos canais de streaming, reproduzir suas fotos, vídeos e músicas e
        apresentar documentos. {% endblocktrans %}</h2>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row text-center">
    <div class="col-md-6 col-sm-6">
      <h1>{% trans "Sua coleção aonde quiser." %}</h1>
      <p>{% blocktrans %} Com o Efforia TV, você consegue ter controle sobre a sua coleção de vídeos,
        músicas, e fotos de seu nanocomputador e de todas as unidades de armazenamento
        ligadas a ele, podendo assim reproduzir em televisores e transmitir sem fio
        para smartphones, tablets, laptops e vice-versa. {% endblocktrans %}</p>
    </div>
    <div class="col-md-6 col-sm-6">
      <h1>{% trans "Canais de streaming à disposição." %}</h1>
      <p>{% blocktrans %} Com a tecnologia exclusiva EOS-D, há disponibilidade de populares canais
        de vídeos e filmes pela Internet como o YouTube e Netflix, assim como músicas
        e podcasts, como Spotify e SoundCloud. Para sua comodidade, oferecemos a
        assinatura dos serviços em conjunto com o nanocomputador. {% endblocktrans %}</p>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row text-center">
    <div class="col-md-12">
      <h1>{% trans "Organize a sua coleção do seu jeito." %}</h1>
      <h3 class="highlight">{% blocktrans %} Equipado com a tecnologia EOS-D, você consegue integrá-lo
      aos mais diversos smartphones e tablets do mercado por meio de aplicativos
      encontrados nas Appstores. Além de ser uma boa opção para streaming de canais,
      o Efforia TV é uma ótima escolha para você que possui um conjunto considerável
      de filmes, músicas, podcasts e fotos e gostaria de organizá-los em coleções
      e catalogá-los. {% endblocktrans %}</h3>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row text-center">
    <div class="col-md-6 col-sm-6">
      <img src="{% static 'svg/anywhere.svg' %}" style="height:400px !important;" class="img-responsive full-width">
      <h2>{% trans "Solução ideal para automação audiovisual." %}</h2>
      <p>{% blocktrans %} Este equipamento é a melhor opção que oferecemos a você que deseja apresentar
        suas fotos, vídeos e músicas em seu televisor e/ou sistema de som, sem a
        necessidade de fios sendo passados pela sua sala, quarto, ou cozinha, sem
        contar com a boa oferta de canais de streaming que o aparelho tem. {% endblocktrans %}</p>
    </div>
    <div class="col-md-6 col-sm-6">
      <img src="{% static 'svg/wireless_projector.svg' %}" style="height:400px !important;" class="img-responsive full-width">
      <h2>{% trans "A solução para apresentações sem fio." %}</h2>
      <p>{% blocktrans %} Com sua capacidade de transmissão de conteúdo sem fio, o Efforia TV torna-se
        uma ótima opção para ligar no projetor ou televisor e apresentar documentos
        ou transmitir slides em formato de imagens e vídeos, tudo isso podendo ser
        controlado em smartphones e tablets de maneira fácil e prática. {% endblocktrans %}</p>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row text-center">
    <div class="col-md-12">
      <h1>{% trans "Adeus embaraço e demora na apresentação." %}</h1>
      <h3 class="highlight">{% blocktrans %} É uma ótima escolha para eliminar a quantidade infindável
        de fios em sua sala de projeção ou reuniões, e de quebra poder utilizar
        dispositivos mais portáteis para a realização das apresentações, dispensando
        o uso de laptops ou desktops. {% endblocktrans %}</h3>
    </div>
  </div>
</div>

{% endblock %}
