{% extends "tv/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <h1>{% trans "Entretenimento" %}</h1>
      <h2 class="highlight">{% blocktrans %} Nossos nanocomputadores possuem um potencial gráfico bastante avançado,
        o que dá espaço para a criação de games para a plataforma. Pensando em demonstrar
        as possibilidades disso, instalamos em todos nossos equipamentos diversos
        sistemas de emulação de videogames com jogos à título de demonstração*<br/>
      <small>(Necessário ter a cópia original do jogo para executar).</small> {% endblocktrans %}
      </h2>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 text-center"><img src="/static/svg/videogame.svg" height="400" width="90%">
      <h2>{% trans "Interface de fácil acesso" %}</h2>
      <p>{% blocktrans %} Através do controle do teclado sem fio incluso no Efforia TV, ergonomicamente
        fabricado para funcionar como um gampepad, o Retro dispõe de uma interface
        de uso bastante prático, bastando selecionar o sistema de emulação que você
        deseja, e em seguida, o game que você quer jogar. Boa parte dos jogos são
        compatíveis com os emuladores. {% endblocktrans %}</p>
    </div>
    <div class="col-md-6 col-sm-6 text-center"><img src="/static/svg/videogame_develop.svg" height="400" width="90%">
      <h2>{% trans "A solução para criação de jogos" %}</h2>
      <p>{% blocktrans %} Tendo à disposição diversas tecnologias multi-plataforma para gráficos,
        áudio e física, a criação de jogos para a plataforma torna-se bastante fácil
        e prática para os estúdios de jogos. Graças à tecnologia EOS-D somada ao
        nosso kit de programação, é possível conectar o Efforia TV ao notebook e
        utilizá-lo para testes e desenvolvimento. {% endblocktrans %}</p>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row text-center">
    <div class="col-md-6 col-sm-6">
      <h1>{% trans "Instalação de jogos prática" %}</h1>
      <p>{% blocktrans %} Para a instalação de jogos novos no Retro, é muito fácil: basta acessar
        o ponto de rede pelo computador chamado RETRO e copiar as roms para a pasta
        respectiva. O software trata de procurar, catalogar e colocar a arte do
        jogo, bastando apenas selecioná-lo na interface para jogar. Para outros,
        é mais fácil ainda: basta instalar diretamente na Google Play Store. {% endblocktrans %}</p>
    </div>
    <div class="col-md-6 col-sm-6">
      <h1>{% trans "Entretenimento sob demanda" %}</h1>
      <p>{% blocktrans %} Nossos nanocomputadores, através de ferramentas como o Retro e a plataforma
        Android oferecida através da tecnologia EOS-D, tornam-se uma boa solução para
        entretenimento digital. Temos um acervo de outras soluções disponíveis para
        implantação no seu ambiente em caso de demanda especial, Contate-nos para
        saber mais. {% endblocktrans %}</p>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row text-center">
    <div class="col-md-12">
      <h1>{% trans "Baterias inclusas para diversão" %}</h1>
      <h3 class="highlight">{% blocktrans %} A Interface Retro instalada no coração de nossos nanocomputadores dispõe,
        através de um conjunto de tecnologias, acesso para 10 sistemas de emulação
        distintos, como Playstation, Nintendo 64, Game Boy Advance, Game Boy Color,
        Game Boy, Super Nintendo, Nintendo 8-bit, Sega Mega Drive, Sega Game Gear
        e Sega Master System. É diversão sem fim. {% endblocktrans %}</h3>
    </div>
  </div>
</div>

{% endblock %}
