{% extends "services/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<div class="container">
  <div class="row text-center">
    <div class="col-md-12 col-sm-12">
      <h1>{% trans "Aplicativos" %}</h1>
      <h2 class="highlight">{% blocktrans %} Seu tablet e smartphone consegue interagir com os nanocomputadores
        com as tecnologias exclusivas EOS e EOS-D a partir de diversos aplicativos
        que podem ser encontrados nas Appstores. Aqui citamos alguns exemplos e
        suas aplicações. {% endblocktrans %}</h2>
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row">
    <h1 class="text-center">{% trans "Aplicativos para iOS" %}</h1>
    <div class="col-md-6 middle">
      <div class="col-md-3 col-sm-3">
        <img src="{% static 'img/itunes.jpg' %}" class="img-responsive img-margin"/>
      </div>
      <div class="col-md-9 col-sm-9">
        <h2>{% trans "iTunes" %}</h2>
        <p>{% blocktrans %} O iTunes da Apple em dispositivos iOS possibilita a transmissão de conteúdo
          via tecnologia Apple AirPlay, compatível com o seu nanocomputador para
          músicas e vídeoclipes. {% endblocktrans %}</p>
      </div>
    </div>
    <div class="col-md-6 middle">
      <div class="col-md-3 col-sm-3">
        <a href="https://itunes.apple.com/br/app/sybu-for-kodi-and-xbmc/id567524653?mt=8">
          <img src="{% static 'img/sybu.jpg' %}" class="img-responsive img-rounded img-margin"/>
        </a>
      </div>
      <div class="col-md-9 col-sm-9">
        <h2>{% trans "Sybu Remote" %}</h2>
        <p>{% blocktrans %} Com o Sybu Remote, seu iPad, iPhone ou iPod pode funcionar como um controle
          remoto para navegar e reproduzir conteúdo no seu nanocomputador através
          de uma interface limpa. {% endblocktrans %}</p>
      </div>
    </div>
  </div>
  <div class="row spaces-sm">
    <div class="col-md-6 middle">
      <div class="col-md-3 col-sm-3">
        <a href="http://itunes.apple.com/us/app/transmission-rpc/id527302090?mt=8">
          <img src="{% static 'img/transmission.jpg' %}" class="img-responsive img-rounded img-margin"/>
        </a>
      </div>
      <div class="col-md-9 col-sm-9">
        <h2>{% trans "Transmission RPC" %}</h2>
        <p>{% blocktrans %} Seu iPad, iPhone ou iPod pode controlar os downloads e uploads do serviço
          Torrent habilitado no seu nanocomputador, podendo pausar, iniciar ou encerrar
          operações. {% endblocktrans %}</p>
      </div>
    </div>
    <div class="col-md-6 middle">
      <div class="col-md-3 col-sm-3">
        <a href="https://itunes.apple.com/br/app/fileexplorer-free/id510282524?mt=8">
          <img src="{% static 'img/fileexplorer.jpg' %}" class="img-responsive img-rounded img-margin"/>
        </a>
      </div>
      <div class="col-md-9 col-sm-9">
        <h2>{% trans "FileExplorer Free" %}</h2>
        <p>{% blocktrans %} A partir desta ferramenta de gerenciamento de arquivos, seu iPad,
          iPhone ou iPod pode acessar ou alterar de forma remota arquivos armazenados
          no nanocomputador. {% endblocktrans %}</p>
      </div>
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row">
    <h1 class="text-center">{% trans "Aplicativos para Windows Phone" %}</h1>
    <div class="col-md-4 col-sm-12 middle">
      <div class="col-md-3 col-sm-3">
        <a href="http://www.windowsphone.com/pt-br/store/app/xbmc-assist-remote/3897b459-b11b-41eb-9cea-dd9e53c55b78">
          <img src="{% static 'img/xbmcassist.png' %}" class="img-responsive img-margin"/>
        </a>
      </div>
      <div class="col-md-9 col-sm-9">
        <h2>{% trans "XBMC Remote" %}</h2>
        <p>{% blocktrans %} Seu Windows Phone pode ser usado como controle para reprodução e navegação
          no nanocomputador com o aplicativo XBMC Remote. {% endblocktrans %}</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 middle">
      <div class="col-md-3 col-sm-3">
        <a href="http://www.windowsphone.com/pt-br/store/app/av-remote/ed2de477-b31a-46dc-b297-11d9a8873cdf">
          <img src="{% static 'img/avremote.png' %}" class="img-responsive img-margin"/>
        </a>
      </div>
      <div class="col-md-9 col-sm-9">
        <h2>{% trans "AV Remote" %}</h2>
        <p>{% blocktrans %} O aplicativo AV Remote dá a possibilidade de transmissão e reprodução
          de vídeos, músicas, e fotos pelo Windows Phone. {% endblocktrans %}</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 middle">
      <div class="col-md-3 col-sm-3">
        <a href="http://www.windowsphone.com/pt-br/store/app/metrotransmission/43651c70-d785-492e-ac38-66d7d6b7a20c">
          <img src="{% static 'img/metrotransmission.png' %}" class="img-responsive img-margin"/>
        </a>
      </div>
      <div class="col-md-9 col-sm-9">
        <h2>{% trans "MetroTransmission" %}</h2>
        <p>{% blocktrans %} A partir deste aplicativo o seu Windows Phone pode controlar o serviço
          Torrent, de forma a encerrar, iniciar ou pausar downloads ou uploads. {% endblocktrans %}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-2 col-sm-6 middle">
      <div class="col-md-3 col-sm-3">
        <a href="http://www.windowsphone.com/en-us/store/app/sharefolder-explorer/e2b9c82e-eaa1-4a3b-9d4a-8a2933a8bdb4">
          <img src="{% static 'img/sharefolder.png' %}" class="img-responsive img-margin"/>
        </a>
      </div>
      <div class="col-md-9 col-sm-9">
        <h2>{% trans "ShareFolder" %}</h2>
        <p>{% blocktrans %} Com este aplicativo de gerenciamento de arquivos instalado em seu Windows
          Phone, é possível acessar e modificar arquivos remotamente armazenados no
          seu nanocomputador. {% endblocktrans %}</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 middle">
      <div class="col-md-3 col-sm-3">
        <a href="http://www.windowsphone.com/s?appid=61b549d6-0d88-4db3-b336-670473e4b7ef">
          <img src="{% static 'img/sync.png' %}" class="img-responsive img-margin">
        </a>
      </div>
      <div class="col-md-9 col-sm-9">
        <h2>{% trans "Sync" %}</h2>
        <p>{% blocktrans %} Através deste aplicativo multiplataforma, é possível enviar arquivos de
          um dispositivo para o outro, graças ao serviço Sync habilitado em todos
          os nanocomputadores. {% endblocktrans %}</p>
      </div>
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row">
    <h1 class="text-center">{% trans "Aplicativos para Android" %}</h1>
    <div class="col-md-4 middle">
      <div class="col-md-3 col-sm-3">
        <a href="https://play.google.com/store/apps/details?id=nextapp.fx">
          <img src="{% static 'img/fileexplorer.png' %}" class="img-responsive img-margin"/>
        </a>
      </div>
      <div class="col-md-9 col-sm-9">
        <h2>{% trans "File Explorer" %}</h2>
        <p>{% blocktrans %} Com este gerenciador de arquivos instalado em seu tablet ou smartphone
          Android, é possível acessar e/ou modificar remotamente todo o conteúdo
          de arquivos disponibilizado no nanocomputador. {% endblocktrans %}</p>
      </div>
    </div>
    <div class="col-md-4 middle">
      <div class="col-md-3 col-sm-3">
        <a href="https://play.google.com/store/apps/details?id=com.bubblesoft.android.bubbleupnp">
          <img src="{% static 'img/bubbleupnp.png' %}" class="img-responsive img-margin"/>
        </a>
      </div>
      <div class="col-md-9 col-sm-9">
        <h2>{% trans "BubbleUPNP" %}</h2>
        <p>{% blocktrans %} Use seu smartphone ou tablet para transmitir sem fio músicas, vídeos
          e fotos para nanocomputadores a partir do BubbleUPNP. É possível controlar
          a transmissão e reprodução de diversos nanocomputadores. {% endblocktrans %}</p>
      </div>
    </div>
    <div class="col-md-4 middle">
      <div class="col-md-3 col-sm-3">
        <a href="https://play.google.com/store/apps/details?id=com.doubleTwist.androidPlayerProKey">
          <img src="{% static 'img/airsync.png' %}" class="img-responsive img-margin"/>
        </a>
      </div>
      <div class="col-md-9 col-sm-9">
        <h2>{% trans "AirSync" %}</h2>
        <p>{% blocktrans %} Com o reprodutor de mídia DoubleTwist mais o adicional AirSync, é possível
          também transmitir via tecnologia Apple AirPlay conteúdos multimídia, dentre
          eles músicas, fotos e vídeos. {% endblocktrans %}</p>
      </div>
    </div>
  </div>
  <div class="row spaces-sm">
    <div class="col-md-4 middle">
      <div class="col-md-3 col-sm-3">
        <a href="https://play.google.com/store/apps/details?id=org.leetzone.android.yatsewidgetfree">
          <img src="{% static 'img/yatse.png' %}" class="img-responsive img-margin"/>
        </a>
      </div>
      <div class="col-md-9 col-sm-9">
        <h2>{% trans "Yatse" %}</h2>
        <p>{% blocktrans %} Este aplicativo possibilita o uso de seu smartphone ou tablet Android
          como um controle remoto para o seu nanocomputador, dando as opções de
          navegação, reprodução e transmissão. {% endblocktrans %}</p>
      </div>
    </div>
    <div class="col-md-4 middle">
      <div class="col-md-3 col-sm-3">
        <a href="https://play.google.com/store/apps/details?id=com.bianor.amspersonal">
          <img src="{% static 'img/imediashare.png' %}" class="img-responsive img-margin"/>
        </a>
      </div>
      <div class="col-md-9 col-sm-9">
        <h2>{% trans "iMediaShare" %}</h2>
        <p>{% blocktrans %} Disponível para os dispositivos Android e iOS, o aplicativo iMediaShare
          utiliza das tecnologias EOS e EOS-D para a transmissão e a reprodução de
          vídeos, músicas e fotos. {% endblocktrans %}</p>
      </div>
    </div>
    <div class="col-md-4 middle">
      <div class="col-md-3 col-sm-3">
        <a href="https://play.google.com/store/apps/details?id=com.neogb.rtac">
          <img src="{% static 'img/transmission.png' %}" class="img-responsive img-margin"/>
        </a>
      </div>
      <div class="col-md-9 col-sm-9">
        <h2>{% trans "Transmission" %}</h2>
        <p>{% blocktrans %} O Remote Transmission possibilita o controle remoto do serviço Torrent,
          podendo iniciar, pausar ou encerrar downloads ou uploads no seu nanocomputador. {% endblocktrans %}</p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
