{% extends "services/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <h1>{% trans "Hospedagem de Nanocomputadores" %}</h1>
      <h2 class="highlight">{% blocktrans %} A Efforia disponibiliza serviços na nuvem para você
        expandir ainda mais as possibilidades de seus nanocomputadores. Desde a
        publicação de websites até a integração de projetos de IoT (Internet of
        Things), dispomos de boa infraestrutura e bom atendimento para você hospedar
        o seu próximo projeto aqui. {% endblocktrans %}</h2>
      </div>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="col-md-6 col-sm-12">
    <div class="row text-center">
      <div class="col-md-12 col-sm-12">
        <h1>{% trans "Efforia IoT" %}</h1>
        <h3 class="highlight">{% blocktrans %} Por meio deste serviço, oferecemos uma maneira simples e eficiente de
          integrar os mais diversos projetos de Internet das Coisas desenvolvidos
          em nossos nanocomputadores com a nuvem. {% endblocktrans %}</h3>
      </div>
    </div>
    <div class="row text-center spaces-sm">
      <div class="col-md-6 col-sm-6">
        <!--<img src="{% static 'svg/beta_program.svg' %}" style="height:200px !important;" class="img-responsive full-width">!-->
        <h2>{% trans "Automação mais universal." %}</h2>
        <p>{% blocktrans %} Graças ao serviço Efforia IoT, é possível expandir o alcance de seu próximo
          projeto com a Efforia a não mais apenas o seu lar ou trabalho, mas a todos
          os lugares conectados à Internet no mundo. {% endblocktrans %}</p>
      </div>
      <div class="col-md-6 col-sm-6">
        <!--<img src="{% static 'svg/beta_cables.svg' %}" style="height:200px !important;" class="img-responsive full-width">!-->
        <h2>{% trans "Flexível em software/hardware." %}</h2>
        <p>{% blocktrans %} Possuímos soluções integradas e personalizadas entre nossos nanocomputadores,
          sistema de automação implantado em seu ambiente e a nuvem, de acordo com
          cada demanda. {% endblocktrans %}</p>
      </div>
    </div>
    <div class="row text-center spaces-sm">
      <div class="col-md-12 col-sm-12">
        <!--<img src="{% static 'svg/betas.svg' %}" style="height:200px !important;" class="img-responsive full-width">!-->
        <h2>{% trans "Massivamente distribuído." %}</h2>
        <p>{% blocktrans %} Com o Efforia IoT, seus nanocomputadores não ficam restritos a apenas um
          ambiente para atuar sobre a Internet das Coisas; você pode distribuir a
          sua solução geograficamente. {% endblocktrans %}</p>
      </div>
    </div>
    <div clas="row text-center spaces-sm">
      <table class="table table-responsive text-center">
        <tr class="nomargin">
          <th></th>
          <td><h2><strong>{% trans "PP" %}</strong></h2></td>
          <td><h2><strong>{% trans "P" %} </strong></h2></td>
          <td><h2><strong>{% trans "M" %} </strong></h2></td>
          <td><h2><strong>{% trans "G" %} </strong></h2></td>
          <td><h2><strong>{% trans "GG" %}</strong></h2></td>
        </tr>
        <tr>
          <th>{% trans "Mensal" %}</th>
          <td>R$ 5,00</td>
          <td>R$ 7,00</td>
          <td>R$ 9,00</td>
          <td>R$ 15,00</td>
          <td>R$ 21,00</td>
        </tr>
        <tr>
          <th>{% trans "Diário" %}</th>
          <td>R$ 0,166</td>
          <td>R$ 0,233</td>
          <td>R$ 0,300</td>
          <td>R$ 0,500</td>
          <td>R$ 0,700</td>
        </tr>
        <tr>
          <th>{% trans "Hora" %}</th>
          <td>R$ 0,0069</td>
          <td>R$ 0,0097</td>
          <td>R$ 0,0125</td>
          <td>R$ 0,0208</td>
          <td>R$ 0,0291</td>
        </tr>
        <tr>
          <th>RAM</th>
          <td>128MB</td>
          <td>256MB</td>
          <td>256MB</td>
          <td>512MB</td>
          <td>512MB</td>
        </tr>
        <tr>
          <th>CPU</th>
          <td>500MHz</td>
          <td>500MHz</td>
          <td>500MHz</td>
          <td>700MHz</td>
          <td>1GHz</td>
        </tr>
        <tr>
          <th>SSD</th>
          <td>4GB</td>
          <td>8GB</td>
          <td>8GB</td>
          <td>16GB</td>
          <td>16GB</td>
        </tr>
      </table>
      <p>{% trans "Valores na moeda Real Brasileiro, conversíveis em dólar para transações internacionais." %}</p>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="row text-center">
      <div class="col-md-12 col-sm-12">
        <h1>{% trans "Efforia Cloud" %}</h1>
        <h3 class="highlight">{% blocktrans %} Através deste serviço, há como utilizar a tecnologia exclusiva EOS na
          nuvem do Efforia para hospedar configurações, aplicativos e serviços que
          o seu negócio está precisando. {% endblocktrans %}</h3>
      </div>
    </div>
    <div class="row text-center spaces-sm">
      <div class="col-md-6 col-sm-6">
        <!--<img src="{% static 'svg/betas.svg' %}" style="height:200px !important;" class="img-responsive full-width">!-->
        <h2>{% trans "Escale conforme a sua necessidade." %}</h2>
        <p>{% blocktrans %} Com a nuvem do Efforia, não há com o que se preocupar com os custos.
        Funcionamos de acordo com o que precisa de recursos de máquina para cada
        momento, seja P, M ou G. {% endblocktrans %}</p>
      </div>
      <div class="col-md-6 col-sm-6">
        <!--<img src="{% static 'svg/betas.svg' %}" style="height:200px !important;" class="img-responsive full-width">!-->
        <h2>{% trans "Configure para o que precisar." %}</h2>
        <p>{% blocktrans %} Graças à tecnologia EOS, você possui um sistema operacional GNU/Linux
          completo com todos os recursos modernos que precisa e pronto para a configuração
          que necessitar. {% endblocktrans %}</p>
      </div>
    </div>
    <div class="row text-center spaces-sm">
      <div class="col-md-12 col-sm-12">
        <!--<img src="{% static 'svg/applications.svg' %}" style="height:200px !important;" class="img-responsive full-width">!-->
        <h2>{% trans "Tecnologia EOS em todos os lugares." %}</h2>
        <p>{% blocktrans %} O Efforia Cloud utiliza a tecnologia exclusiva EOS, ficando assim presente
          em todos os ambientes que quiser, aproveitando o máximo de seu potencial
          em serviços e aplicativos. {% endblocktrans %}</p>
      </div>
    </div>
    <div clas="row text-center spaces-sm">
      <table class="table table-responsive text-center">
        <tr class="nomargin">
          <th></th>
          <td><h2><strong>{% trans "PP" %}</strong></h2></td>
          <td><h2><strong>{% trans "P" %} </strong></h2></td>
          <td><h2><strong>{% trans "M" %} </strong></h2></td>
          <td><h2><strong>{% trans "G" %} </strong></h2></td>
          <td><h2><strong>{% trans "GG" %}</strong></h2></td>
        </tr>
        <tr>
          <th>{% trans "Mensal" %}</th>
          <td>R$ 15,00</td>
          <td>R$ 21,00</td>
          <td>R$ 27,00</td>
          <td>R$ 60,00</td>
          <td>R$ 72,00</td>
        </tr>
        <tr>
          <th>{% trans "Diário" %}</th>
          <td>R$ 0,500</td>
          <td>R$ 0,700</td>
          <td>R$ 0,900</td>
          <td>R$ 2,000</td>
          <td>R$ 2,400</td>
        </tr>
        <tr>
          <th>{% trans "Hora" %}</th>
          <td>R$ 0,0208</td>
          <td>R$ 0,0291</td>
          <td>R$ 0,0375</td>
          <td>R$ 0,0833</td>
          <td>R$ 0,1000</td>
        </tr>
        <tr>
          <th>RAM</th>
          <td>256MB</td>
          <td>256MB</td>
          <td>512MB</td>
          <td>1GB</td>
          <td>1GB</td>
        </tr>
        <tr>
          <th>CPU</th>
          <td>500MHz</td>
          <td>700MHz</td>
          <td>1GHz</td>
          <td>1GHz x 2</td>
          <td>1GHz x 4</td>
        </tr>
        <tr>
          <th>SSD</th>
          <td>8GB</td>
          <td>8GB</td>
          <td>8GB</td>
          <td>16GB</td>
          <td>16GB</td>
        </tr>
      </table>
      <p>{% trans "Valores na moeda Real Brasileiro, conversíveis em dólar para transações internacionais." %}</p>
    </div>
  </div>
</div>

{% endblock %}
