{% extends "help/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <h1>{% trans "Desenvolvedor" %}</h1>
      <img src="{% static 'svg/eostechnology.svg' %}" class="img-responsive third-width"/>
      <h1>{% trans "Uma plataforma cheia de oportunidades para o desenvolvedor" %}</h1>
      <p>{% blocktrans %} Com a tecnologia exclusiva EOS, o desenvolvedor possui diversas vantagens
        que facilitam o trabalho de criação de novos serviços e aplicativos. A Efforia
        traz aos seus nanocomputadores tudo o que há de mais moderno para a engenharia
        de software e hardware, disponibilizando um sistema operacional multiplataforma,
        versátil e cheio de opções para você pré-instaladas, como a containerização,
        a implantação contínua, o acesso remoto, a execução multilinguagem e a compilação
        distribuída. {% endblocktrans %}</p>
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row">
    <div class="col-md-6 col-sm-6 middle">
      <div class="col-md-4 col-sm-4">
        <img src="{% static 'svg/docker.svg' %}" class="img-responsive full-width">
      </div>
      <div class="col-md-8 col-sm-8">
        <h2>{% trans "Docker" %}</h2>
        <p>{% blocktrans %} É um serviço que disponibiliza virtualização leve para todos os nanocomputadores.
          Fácil e prático de utilizar, ele faz uso da tecnologia de containers do Linux,
          responsável por trazer isolamento de contexto para os seus ambientes virtuais.
          Serviço indispensável para desenvolver ambientes com requisitos complexos
          a partir de poucos comandos e manter a performance praticamente a mesma
          devida à fina camada de virtualização. Exemplo de uso é na instalação e
          na configuração de bancos de dados e servidores web. {% endblocktrans %}</p>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 middle">
      <div class="col-md-8 col-sm-8 ralign">
        <h2>{% trans "Fabric" %}</h2>
        <p>{% blocktrans %} Com o serviço de implantação Fabric, é possível automatizar toda a instalação
          de configuração de componentes de software remotamente para o seu nanocomputador.
          Bastando a escrita de um script com os comandos necessários, muito do processo
          de entrada no modo produção do aplicativo desenvolvido é facilitado. Integrando
          o serviço com um controle de versão como o Git temos uma integração contínua
          perfeita para todos os softwares que deseja desenvolver para nossa plataforma. {% endblocktrans %}</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <img src="{% static 'svg/fabric.svg' %}" class="img-responsive full-width">
      </div>
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row">
    <div class="col-md-6 col-sm-6 middle">
      <div class="col-md-4 col-sm-4">
        <img src="{% static 'svg/remote.svg' %}" class="img-responsive full-width">
      </div>
      <div class="col-md-8 col-sm-8">
        <h2>{% trans "Remote" %}</h2>
        <p>{% blocktrans %} O Remote mostra-se essencial para o acesso e administração remota de
          seu nanocomputador. Dispondo de serviço remoto de linha de comando (SSH),
          de acesso a arquivos por compartilhamentos do Windows (Samba), e de acesso
          a tela remota (VNC - quando o EMC possui interface gráfica), o Remote
          torna-se indispensável para o administrador de sistemas e para o
          programador realizar suas tarefas de manutenção e instalação de
          componentes no equipamento com a tecnologia EOS. {% endblocktrans %}</p>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 middle">
      <div class="col-md-8 col-sm-8 ralign">
        <h2>{% trans "Runtime" %}</h2>
        <p>{% blocktrans %} Com o Runtime, é possível realizar a execução de diversas linguagens de
          programação em seu nanocomputador. O EOS vem preparado para ser utilizado
          para programação em Python, Perl, Ruby, Java, Node, PHP, C/C++ e C#, e um
          bom acervo de bibliotecas auxiliares para o desenvolvimento de aplicativos
          Web e com interface gráfica, como, respectivamente, o Django e o Qt. É com
          este serviço que nossos nanocomputadores demonstram a maior versatilidade,
          ao viabilizar diversas tecnologias. {% endblocktrans %}</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <img src="{% static 'svg/runtime.svg' %}" class="img-responsive full-width">
      </div>
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row">
    <div class="col-md-6 col-sm-6 middle">
      <div class="col-md-4 col-sm-4">
        <img src="{% static 'svg/build.svg' %}" class="img-responsive full-width">
      </div>
      <div class="col-md-8 col-sm-8">
        <h2>{% trans "Build" %}</h2>
        <p>{% blocktrans %} Tem um projeto grande demais para compilar com apenas um nanocomputador?
          Não se preocupe, o EOS conta com um sistema de compilação distribuída, o
          Build. O serviço conta com diversos mecanismos já instalados e configurados
          que dão a possibilidade de distribuir o processo em diversos outros nanocomputadores
          e computadores com a ferramenta EOS SDK instalada. {% endblocktrans %}</p>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 middle">
      <div class="col-md-8 col-sm-8 ralign">
        <h2>{% trans "EOS SDK" %}</h2>
        <p>{% blocktrans %} Disponibilizamos um kit de programação de aplicativos para a plataforma
          EOS. Neste conjunto há bibliotecas que compõem uma pequena camada sobre
          os principais componentes-chave de nossa tecnologia. O kit é complementado
          com uma máquina virtual em formato OVF que contém todos os itens do EOS
          mais a integração com os nanocomputadores, essencial para o uso do sistema
          Build. {% endblocktrans %}</p>
      </div>
      <div class="col-md-4 col-sm-4">
        <img src="{% static 'svg/eos.svg' %}" class="img-responsive full-width">
      </div>
    </div>
    <div class="col-md-12 text-center">
      <h2>{% trans "O SDK pode ser encontrado em nossa página do GitHub, e a VM pelo link:" %}
        <a href="http://1drv.ms/1HoR5hN" target="_blank">
          <span>&nbsp;http://1drv.ms/1HoR5hN</span>
        </a>
      </h2>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row">
    <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 text-center">
      <img src="{% static 'svg/applications.svg' %}" width="100%" class="img-responsive"/>
      <h2>{% trans "Desenvolva uma vez, rode em todos os lugares" %}</h2>
      <p>{% blocktrans %} O EOS garante a interoperabilidade de seus aplicativos através de ferramentas
      compatíveis com diversos sistemas (Android, Windows, Mac, entre outros) e
      de uma plataforma, composta de um sistema básico específico para cada nanocomputador,
      um sistema intermediário idêntico para todos os modelos, e por fim, o aplicativo
      propriamente dito. {% endblocktrans %}</p>
    </div>
  </div>
</div>

{% endblock %}
