{% extends "services/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <h1>{% trans "Parceiros" %}</h1>
      <h2 class="highlight">{% blocktrans %} Nós da Efforia Nanocomputadores acreditamos que trabalhando
        unido com parceiros, crescemos mais forte. E é por isso que dispomos de diversos
        em nosso catálogo, de forma a estruturar e ajudar nosso empreendimento, onde
        quer que seja. {% endblocktrans %}</h2>
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row text-center spaces-xs">
    <div class="col-md-4 col-sm-4">
      <h2>{% trans "Projeto Cauã" %}</h2>
      <p>{% blocktrans %} O Projeto Cauã trata-se de uma iniciativa empreendedora de incentivo da
        constituição de novos empreendimentos que façam uso de nanocomputadores
        para as mais diversas áreas. A Efforia é apoiadora desta iniciativa e o
        projeto, nosso parceiro de negócios para diversas atividades-chave de nosso
        empreendimento. {% endblocktrans %}</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <h2>{% trans "Fábrica de Ideias" %}</h2>
      <p>{% blocktrans %} Através do programa de mentoria para startups, o projeto embrionário do
        Efforia, antes chamado de Caokzu, surgiu na Fábrica de Ideias Coworking
        o nosso negócio. Graças a todo o apoio que é dado até hoje para a companhia,
        seguimos como clientes e oferecemos o suporte sobre TI com os nossos produtos
        e serviços para o espaço coletivo. {% endblocktrans %}</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <h2>{% trans "Fundação Raspberry Pi" %}</h2>
      <p>{% blocktrans %} Graças a fundação foi possível realizar boa parte dos mais diversos projetos
        da empresa, devido a fabricação das placas Model B, uma de nossas plataformas
        base precursoras para o início do Projeto Pandora, hoje conhecido como HUB,
        da qual é trazida a você hoje pelos nossos diversos nanocomputadores. {% endblocktrans %}</p>
    </div>
  </div>
  <div class="row text-center spaces-xs">
    <div class="col-md-4 col-sm-4">
      <h2>{% trans "Arch Linux ARM" %}</h2>
      <p>{% blocktrans %} A partir do Arch Linux ARM é que foi possível constituir nossas bases de
        fundação de nossa tecnologia exclusiva EOS. Como forma de contribuição a
        tudo o que a comunidade ofereceu para a nossa plataforma, a Efforia tem
        um compromisso sério com o código aberto e disponibiliza sempre que possível
        tecnologias que podem ser utilizadas em favor deste sistema operacional. {% endblocktrans %}</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <h2>{% trans "Microsoft BizSpark" %}</h2>
      <p>{% blocktrans %} A partir deste programa estruturante de startups da, tivemos uma disponibilidade
        de recursos de nuvem e software que foram ofertados de forma gratuita por
        três anos. Costumamos desde então recomendar o uso do serviço dos mesmos
        toda a vez que acreditamos que há uma oportunidade para nossos coworkers
        no espaço onde a Efforia Nanocomputadores encontra-se instalada. {% endblocktrans %}</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <h2>{% trans "Código Aberto" %}</h2>
      <p>{% blocktrans %} Na Efforia, o desenvolvimento do Software Livre como um todo é um processo
        de importância para a evolução tecnológica da, dado que nossos produtos e
        serviços usufruem disso. Pensando nisso que contribuímos regularmente em
        Código Aberto, sejam para terceiros, como componentes do Django, assim como
        para softwares de apoio a desenvolvimento para a plataformas como o Pi. {% endblocktrans %}</p>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row text-center">
    <div class="col-md-12 text-center">
      <img src="{% static 'svg/eosfoundations.svg' %}" class="img-responsive full-width">
      <h1>{% trans "Uma companhia que apoia o software livre." %}</h1>
      <p>{% blocktrans %} Temos uma fundação sólida em tecnologias livres, como o Python, uma linguagem
        de programação, o Qt, um framework para construção de aplicativos com e sem
        interface gráfica, o Linux, um núcleo de sistema operacional e o Arch, um
        sistema operacional baseado no GNU/Linux. Assim como temos estas fundações,
        respeitamos padrões de engenharia de software e de sistemas para todas as
        nossas soluções; o EOS, para exemplo, cumpre as especificações dispostas
        na LSB (Linux Standard Base), em praticamente toda sua totalidade. Se tem
        interesse em seguir nossos projetos open source, basta acessar nosso perfil
        no GitHub em <a href="http://github.com/efforia/">github.com/efforia</a> {% endblocktrans %}</p>
    </div>
  </div>
</div>

{% endblock %}
