{% extends "services/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<div class="container">
  <div class="row text-center">
    <div class="col-md-12">
      <h1>{% trans "Serviços para automação" %}</h1>
      <h2 class="highlight">{% blocktrans %} A Efforia Nanocomputadores oferece serviços adicionais
        que podem trazer diversos benefícios para a sua solução de automação, seja
        ela audiovisual, doméstica ou corporativa, em todos os tamanhos. {% endblocktrans %}</h2>
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row text-center">
    <div class="col-md-12">
      <h1>{% trans "Efforia Play" %}</h1>
      <h3 class="highlight">{% blocktrans %} A Efforia, sempre comprometida em oferecer a você o
        que há de melhor em automação audiovisual, comercializa pacotes de canais
        de filmes e músicas para uso em nossos nanocomputadores, com condições especiais
        na compra de sua solução de automação. {% endblocktrans %}</h3>
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row middle">
    <div class="col-md-2">
      <!--<img src="{% static 'svg/microcloud.svg' %}" style="height:200px !important;" class="img-responsive full-width">!-->
    </div>
    <div class="col-md-4 lalign">
      <h2>{% trans "Atendemos de P a G" %}</h2>
      <p>{% blocktrans %} Com tamanhos como P, M e G, contemplando diversas ofertas de canais de streaming
      e suas variações, a Efforia tem o plano perfeito para você e, se precisar,
      para sua família, colegas ou amigos. {% endblocktrans %}</p>
    </div>
    <div class="col-md-4 ralign">
      <h2>{% trans "Companhia para CATV" %}</h2>
      <p>{% blocktrans %} Oferecemos a possibilidade de acessar os mais diversos canais acompanhantes
      da programação da TV a Cabo, para que você possa assistir o filme, partida,
      debates ou documentários que quiser aonde quiser. {% endblocktrans %}</p>
    </div>
    <div class="col-md-2">
      <!--<img src="{% static 'svg/microcloud.svg' %}" style="height:200px !important;" class="img-responsive full-width">!-->
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row text-center">
    <div class="col-md-12">
      <table class="table table-responsive">
        <tr class="nomargin">
          <th></th>
          <td><h2><strong>{% trans "P" %} </strong></h2></td>
          <td><h2><strong>{% trans "M" %} </strong></h2></td>
          <td><h2><strong>{% trans "G" %} </strong></h2></td>
          <td><h2><strong>{% trans "TV" %}</strong></h2></td>
        </tr>
        <tr>
          <th>{% trans "Nanocomputador incluso" %}</th>
          <td>{% trans "Sim" %}</td>
          <td>{% trans "Sim" %}</td>
          <td>{% trans "Sim" %}</td>
          <td>{% trans "Sim" %}</td>
        </tr>
        <tr>
          <th>{% trans "Plex incluso" %}</th>
          <td>{% trans "Sim" %}</td>
          <td>{% trans "Sim" %}</td>
          <td>{% trans "Sim" %}</td>
          <td>{% trans "Não" %}</td>
        </tr>
        <tr>
          <th>{% trans "Google Play" %}</th>
          <td>{% trans "Sim" %}</td>
          <td>{% trans "Sim" %}</td>
          <td>{% trans "Sim" %}</td>
          <td>{% trans "Sim" %}</td>
        </tr>
        <tr>
          <th>{% trans "Canais de Vídeo Gratuitos" %}</th>
          <td>{% trans "Sim" %}</td>
          <td>{% trans "Sim" %}</td>
          <td>{% trans "Sim" %}</td>
          <td>{% trans "Não" %}</td>
        </tr>
        <tr>
          <th>{% trans "Canais de Música Gratuitos" %}</th>
          <td>{% trans "Sim" %}</td>
          <td>{% trans "Sim" %}</td>
          <td>{% trans "Sim" %}</td>
          <td>{% trans "Não" %}</td>
        </tr>
        <tr>
          <th>{% trans "Canal de Vídeo Premium" %}</th>
          <td>{% trans "Crackle" %}</td>
          <td>{% trans "Netflix" %}</td>
          <td>{% trans "Netflix Família" %}</td>
          <td>{% trans "Canais de CATV online" %}</td>
        </tr>
        <tr>
          <th>{% trans "Canal de Música Premium" %}</th>
          <td>{% trans "Rdio" %}</td>
          <td>{% trans "Spotify" %}</td>
          <td>{% trans "Spotify Família" %}</td>
          <td>{% trans "Não possui" %}</td>
        </tr>
        <tr class="nomargin">
          <th>{% trans "Mensal por 1 ano em Reais" %}</th>
          <td><h3><strong>R$ 49,90</strong></h3></td>
          <td><h3><strong>R$ 79,90</strong></h3></td>
          <td><h3><strong>R$ 99,90</strong></h3></td>
          <td><h3><strong>R$ 64,90</strong></h3></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row text-center">
    <div class="col-md-12">
      <h1>{% trans "Efforia Grid" %}</h1>
      <h3 class="highlight">{% blocktrans %} Pensando na integração dos nanocomputadores com a Internet
        é que disponibilizamos o serviço Efforia Grid, que possibilita a hospedagem
        de sites, aplicativos e conteúdos dentro do nanocomputador, economizando
        drasticamente em custos de computação em nuvem. {% endblocktrans %}</h3>
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row text-center">
    <div class="col-md-3 col-sm-6">
      <img src="{% static 'svg/hcs.svg' %}" style="height:200px !important;" class="img-responsive full-width">
      <h2>{% trans "Chame-os pelo seu nome." %}</h2>
      <p>{% blocktrans %} O Grid te permite registrar um nome na Internet para o seu nanocomputador.
        Através de nossa tecnologia, o aparelho conecta-se ao serviço, divulga os
        dados, sites ou aplicativos que quiser através do domínio *.grid.efforia.com.br. {% endblocktrans %}</p>
    </div>
    <div class="col-md-3 col-sm-6">
      <img src="{% static 'svg/microcloud.svg' %}" style="height:200px !important;" class="img-responsive full-width">
      <h2>{% trans "Nanocomputadores como micronuvens." %}</h2>
      <p>{% blocktrans %} Pensado também para negócios, o serviço é muito útil para nuvens privadas,
        acesso remoto, intranets, compartilhamento de arquivos e de impressoras,
        graças à tecnologia exclusiva EOS presente em todos nossos nanocomputadores. {% endblocktrans %}</p>
    </div>
    <div class="col-md-3 col-sm-6">
      <img src="{% static 'svg/server.svg' %}" style="height:200px !important;" class="img-responsive full-width">
      <h2>{% trans "Acessíveis remotamente." %}</h2>
      <p>{% blocktrans %} Graças à publicação na Internet, serviços e automações que você costumava
        apenas acessar em sua residência ou empresa podem ser acessíveis e controláveis
        por outros locais de rede fora de seu ambiente, trazendo mais praticidade. {% endblocktrans %}</p>
    </div>
    <div class="col-md-3 col-sm-6">
      <img src="/static/svg/cloud_combinated.svg" style="height:200px !important;" class="img-responsive full-width">
      <h2>{% trans "Acopláveis por design." %}</h2>
      <p>{% blocktrans %} É possível juntar dois ou mais nanocomputadores seus para formar um volume
        de aparelhos, possibilitando assim maior escalabilidade para o sistema de
        automação desejado e reduzindo o custo de locação de espaços na nuvem. {% endblocktrans %}</p>
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row text-center">
    <h3>{% blocktrans %} Aproveite a tarifa única de R$ 14,90 por nanocomputador
      por mês para ligar ao Efforia Grid. {% endblocktrans %}</h2>
  </div>
</div>

{% endblock %}
