{% load i18n staticfiles %}

<form id="locale" class="navbar-form navbar-padding none nomargin hidden" action="{#{% url 'set_language' %}#}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}" />
    <select id="language" name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go" />
</form>

<div class="spaces-xs" style="margin-top:0px">
  <div class="hidden-xs">
    <img class="flag" src="{% static "img/brazil.png" %}" onclick="changeLocale('pt-br');"/>
    &nbsp;<h4 class="inline nomargin">&nbsp;Brasil <div class="hidden-sm inline">(Português)</div>&nbsp;</h4>&nbsp;
    <img class="flag" src="{% static "img/spain.png" %}" onclick="changeLocale('es-ar');"/>
    &nbsp;<h4 class="inline nomargin">&nbsp;América Latina <div class="hidden-sm inline">(Español)</div>&nbsp;</h4>&nbsp;
    <img class="flag" src="{% static "img/usa.png" %}" onclick="changeLocale('en');"/>
    &nbsp;<h4 class="inline nomargin">&nbsp;United States <div class="hidden-sm inline">(English)</div>&nbsp;</h4>&nbsp;
  </div>
  <div class="visible-xs">
    <img class="flag flagicon" src="{% static "img/brazil.png" %}" onclick="changeLocale('pt-br');"/>
    <img class="flag flagicon" src="{% static "img/spain.png" %}" onclick="changeLocale('es-ar');"/>
    <img class="flag flagicon" src="{% static "img/usa.png" %}" onclick="changeLocale('en');"/>
  </div>
</div>
