{% load i18n staticfiles %}

<li class="menuitem">
  <a class="black lalign" href="{#{% url 'old_account_redirect' %}#}">
    <span class="glyphicon glyphicon-user"></span>
    &nbsp;{% trans "Account" %}
  </a>
</li>
<li class="menuitem">
  <a class="black lalign" href="#">
    <span class="glyphicon glyphicon-shopping-cart"></span>
    &nbsp;{% trans "Bag" %}
  </a>
</li>
<li class="menuitem">
  <a class="black lalign" href="#">
    <span class="glyphicon glyphicon-gift"></span>
    &nbsp;{% trans "List" %}
  </a>
</li>
<li class="menuitem">
  <a class="black lalign" href="#">
    <span class="glyphicon glyphicon-list-alt"></span>
    &nbsp;{% trans "Orders" %}
  </a>
</li>
