{% load i18n staticfiles %}

<link rel="stylesheet" href="{% static "css/footer.css" %}">

<div class="nav-footer">
  <ul class="list list-unstyled white">
    <li><h2 class="nomargin"><a href="{% url 'hub' %}">{% trans "HUB" %}</a></h2></li>
    {% include "hub/nav.html" %}
  </ul>
  <ul class="list list-unstyled white">
    <li><h2 class="nomargin"><a href="{% url 'hubpro' %}">{% trans "TV" %}</a></h2></li>
    {% include "tv/nav.html" %}
  </ul>
  <ul class="list list-unstyled white">
    <li><h2 class="nomargin"><a href="{% url 'support' %}">{% trans "Help" %}</a></h2></li>
    {% include "help/nav.html" %}
  </ul>
</div>
