{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block start %}

<link rel="stylesheet" href="{% static 'css/hub.css' %}">

<!--<nav class="navbar subnavbar-top hidden-xs hidden-sm">
  <ul class="nav nav-pills submenu-top right">
    <li class="leftmargin rightmargin">
      <button class="btn btn-info hub-btn" onclick="redirect('/store/choose');">{% trans "Buy" %}</button>
    </li>
    {% include "hub/nav.html" %}
    <li class="left leftmargin">
      <a href="{% url 'hub' %}" style="padding:0px">
        <img class="hub-logo" src="{% static 'svg/hublogo.svg' %}"/>
      </a>
    </li><br>
  </ul>
</nav>!-->

{% endblock %}

{% block main %}

{% endblock %}
