{% extends "hub/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<div class="container">
  <div class="row text-center">
    <div class="col-md-10 col-md-offset-1">
      <img src="{% static 'svg/eostechnology.svg' %}" class="img-responsive"/>
      <h2 class="highlight nomargin">{% blocktrans %} Todos vem equipados com a tecnologia EOS, desenvolvida pela Efforia,
      que garante diferenciais que tornam nossos nanocomputadores singulares. {% endblocktrans %} </h2>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row text-center">
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/cloud.svg' %}" class="img-responsive"/>
      <h1>{% trans "Cloud Computing" %}</h1>
      <p>{% blocktrans %} Possuindo recursos próprios para hospedar aplicativos web e serviços de
      nuvem, o sistema pode usufruir de serviços da Efforia para a conexão com a
      Internet, que permite que seu HUB possa ser acessado remotamente ou que possa
      consumir serviços online, como e onde quiser. {% endblocktrans %}</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/compute.svg' %}" class="img-responsive"/>
      <h1>{% trans "Soluções Integradas" %}</h1>
      <p>{% blocktrans %} O EOS é um sistema operacional completo, com recursos de interface gráfica,
      processamento de dados, e conexão com rede. Graças a esse diferencial, é possível
      construir soluções robustas e versáteis, sempre de acordo com a demanda que
      você está precisando para você. {% endblocktrans %}</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/beta.svg' %}" class="img-responsive"/>
      <h1>{% trans "Internet das Coisas" %}</h1>
      <p>{% blocktrans %} A tecnologia integrada ao seu HUB garante o máximo de potencial para o
      seu próximo projeto de automação, garantindo total conexão à Internet para
      os seus sensores e atuadores. Isso possibilita um tempo de construção menor
      e um número muito maior de possibilidades. {% endblocktrans %}</p>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row">
    <div class="col-md-6 col-sm-6 middle">
      <div class="col-md-8 col-sm-8 ralign nomargin">
        <h2>{% trans "Torrent" %}</h2>
        <p>{% blocktrans %} Faça downloads e uploads com este serviço de forma ilimitada para o seu
        nanocomputador ou para qualquer armazenamento removível, por meio da tecnologia
        ponto a ponto BitTorrent. {% endblocktrans %}</p>
      </div>
      <div class="col-md-4 col-sm-4 nomargin">
        <img src="{% static 'svg/torrent.svg' %}" class="img-responsive"/>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 middle">
      <div class="col-md-4 col-sm-4 nomargin">
        <img src="{% static 'svg/sync.svg' %}" class="img-responsive"/>
      </div>
      <div class="col-md-8 col-sm-8 nomargin">
        <h2>{% trans "Sync" %}</h2>
        <p>{% blocktrans %} Sincronize quantos arquivos quiser, do tamanho e jeito que achar melhor.
        Você pode compartilhar arquivos entre o seu nanocomputador e qualquer outro
        dispositivo com a tecnologia BitTorrent Sync. {% endblocktrans %}</p>
      </div>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="col-md-4 col-sm-4 text-center">
        <img src="{% static 'svg/store.svg' %}" class="img-responsive third-width"/>
        <h2>{% trans "Dados compartilháveis" %}</h2>
        <p>{% blocktrans %} O compartilhamento de arquivos na sua rede ficou muito mais fácil. Você
        pluga um pendrive, HD externo ou cartão de memória no HUB e pronto! Seus
        dados começam a ser compartilhados automaticamente na sua rede. {% endblocktrans %} </p>
      </div>
      <div class="col-md-4 col-sm-4 text-center">
        <img src="{% static 'svg/hotspot.svg' %}" class="img-responsive third-width"/>
        <h2>{% trans "Ponto de acesso sem fio" %}</h2>
        <p>{% blocktrans %} Está na praia ou no campo e não tem rede sem fio? Sem problemas, o EOS
        cuida disso para você. Você consegue criar um ponto de acesso para que todos
        possam compartilhar conteúdos entre si e para o seu HUB. {% endblocktrans %}</p>
      </div>
      <div class="col-md-4 col-sm-4 text-center">
        <img src="{% static 'svg/sound.svg' %}" class="img-responsive third-width"/>
        <h2>{% trans "Transmissão sem fio de som" %}</h2>
        <p>{% blocktrans %} A tecnologia presente no HUB dá a possibilidade de transmitir músicas
        e podcasts e streaming de música, de seu tablet, laptop ou smartphone para
        o HUB e vice-versa, de maneira fácil e rápida. {% endblocktrans %}</p>
      </div>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row">
    <div class="col-md-6 col-sm-6">
      <div class="col-md-4 col-sm-4 nomargin">
        <img src="{% static 'svg/eosplay.svg' %}" class="img-responsive"/>
      </div>
      <div class="col-md-8 col-sm-8 nomargin">
        <h1>{% trans "Experiência surpreendente" %}</h1>
        <p>{% blocktrans %} Surpreenda-se com a experiência audiovisual que o EOS te proporciona.
        Reproduza filmes em Full HD a partir de qualquer mídia que imaginar: externa,
        pendrive, smartphone, tablet, entre muitas outras opções, tudo sem fio. {% endblocktrans %}</p>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="col-md-8 col-sm-8 nomargin ralign">
        <h1>{% trans "Carregue para onde quiser" %}</h1>
        <p>{% blocktrans %} Desde nanocomputadores até PCs de modo geral, o EOS é um sistema robusto
        e compacto para instalar e usar em diversos dispositivos. Contando com suporte
        a tecnologias USB e HDMI, é possível conectar diversos periféricos a ele. {% endblocktrans %}</p>
      </div>
      <div class="col-md-4 col-sm-4 nomargin">
        <img src="{% static 'svg/box.svg' %}" class="img-responsive"/>
      </div>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row">
    <div class="col-md-6 col-sm-6 middle">
      <div class="col-md-4 col-sm-4 nomargin">
        <img src="{% static 'svg/eosretro.svg' %}" class="img-responsive"/>
      </div>
      <div class="col-md-8 col-sm-8 nomargin">
        <h1>{% trans "Diversão ilimitada" %}</h1>
        <p>{% blocktrans %} O EOS possui uma extensa compatibilidade com os mais diversos sistemas
        de entretenimento e emuladores, como Super Nintendo, Nintendo 8-bit, Sega
        Mega Drive, Playstation, entre outros sistemas de emulação. {% endblocktrans %}</p>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 middle">
      <div class="col-md-8 col-sm-8 nomargin ralign">
        <h1>{% trans "Baterias Inclusas" %}</h1>
        <p>{% blocktrans %} O sistema operacional possui diversos recursos prontos para uso nas
        mais diversas aplicações, dispondo de um vasto repositório de aplicativos,
        bibliotecas e ferramentas para ajudar a criar novas soluções rapidamente. {% endblocktrans %} </p>
      </div>
      <div class="col-md-4 col-sm-4 nomargin">
        <img src="{% static 'svg/eos.svg' %}" class="img-responsive"/>
      </div>
    </div>
  </div>
</div>

{% endblock %}
