{% extends "tv/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block main %}

<div class="container">
  <div class="row text-center">
    <div class="col-md-8 col-md-offset-2">
      <img src="{% static 'svg/eosd.svg' %}" class="img-responsive"/>
      <h2 class="highlight nomargin">{% blocktrans %} Nossos nanocomputadores mais versáteis e robustos
        vem equipados com a tecnologia EOS-D, desenvolvida pela Efforia e baseado
        na plataforma Android. {% endblocktrans %}</h2>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row">
    <div class="col-md-4 col-sm-4 text-center">
      <h1>{% trans "Grid Computing" %}</h1>
      <p>{% blocktrans %} Com a tecnologia exclusiva EOS embutida no sistema operacional, é possível
      utilizá-lo para montar clusters de nanocomputadores com extrema eficiência
      energética e com recursos acessíveis remotamente. {% endblocktrans %}</p>
    </div>
    <div class="col-md-4 col-sm-4 text-center">
      <h1>{% trans "Streaming Audiovisual" %}</h1>
      <p>{% blocktrans %} Graças à base na plataforma Android, é possível acessar diversos recursos,
      aplicativos e canais por Streaming, tornando os nanocomputadores com EOS-D
      muito mais interessantes para uso em TV por Internet. {% endblocktrans %}</p>
    </div>
    <div class="col-md-4 col-sm-4 text-center">
      <h1>{% trans "Diversão Ilimitada" %}</h1>
      <p>{% blocktrans %} Através de tecnologias próprias da Efforia Nanocomputadores e as compatíveis
      com a plataforma Android, é possível acessar e desenvolver uma gama muito
      maior de games preparados para a televisão. {% endblocktrans %}</p>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row">
    <div class="col-md-6 col-sm-6 middle">
      <div class="col-md-8 col-sm-8 ralign nomargin">
        <h2>{% trans "Torrent" %}</h2>
        <p>{% blocktrans %} Faça downloads e uploads com este serviço de forma ilimitada para o seu
        nanocomputador ou para qualquer armazenamento removível, por meio da tecnologia
        ponto a ponto BitTorrent. {% endblocktrans %}</p>
      </div>
      <div class="col-md-4 col-sm-4 nomargin">
        <img src="{% static 'svg/torrent.svg' %}" class="img-responsive"/>
      </div>
    </div>
    <div class="col-md-6 col-sm-6 middle">
      <div class="col-md-4 col-sm-4 nomargin">
        <img src="{% static 'svg/sync.svg' %}" class="img-responsive"/>
      </div>
      <div class="col-md-8 col-sm-8 nomargin">
        <h2>{% trans "Sync" %}</h2>
        <p>{% blocktrans %} Sincronize quantos arquivos quiser, do tamanho e jeito que achar melhor.
        Você pode compartilhar arquivos entre o seu nanocomputador e qualquer outro
        dispositivo com a tecnologia BitTorrent Sync. {% endblocktrans %}</p>
      </div>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row">
    <div class="col-md-4 col-sm-4 text-center">
      <h1>{% trans "Compatível" %}</h1>
      <p>{% blocktrans %} Para as mais diversas demandas, a Efforia desenvolveu o EOS-D, que possibilita
        os nanocomputadores usarem da plataforma Android e ainda manterem a compatibilidade
        com funções da tecnologia EOS. {% endblocktrans %}</p>
    </div>
    <div class="col-md-4 col-sm-4 text-center">
      <h1>{% trans "Aplicativos" %}</h1>
      <p>{% blocktrans %} Com a plataforma Android e seus aplicativos, você pode ter uma solução
        completa para o seu escritório ou casa, com suíte de produtividade, navegador
        de Internet e explorador de arquivos. {% endblocktrans %}</p>
    </div>
    <div class="col-md-4 col-sm-4 text-center">
      <h1>{% trans "Plugável" %}</h1>
      <p>{% blocktrans %} Aproveitando as saídas que nossos nanocomputadores possuem, há o sistema
        Plug 'n Play para qualquer dispositivo removível (pendrive, disco rígido
        externo e cartão de memória) e periféricos. {% endblocktrans %}</p>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="row">
    <div class="col-md-6 col-sm-6 text-center">
      <img src="{% static 'svg/monitorback.svg' %}" style="height:400px !important" class="img-responsive"/>
      <h2>{% trans "Soluções customizadas para automação audiovisual." %}</h2>
      <p>{% blocktrans %} A Efforia disponibiliza para você uma soluções de encapsulamento diferenciado
        para a sua demanda, como o case com acoplamento padrão VESA. Ele é perfeito
        para conectar os nanocomputadores na traseira do monitor ou televisor,
        tornando a conexão do vídeo fácil e prática pela sua proximidade. {% endblocktrans %}</p>
    </div>
    <div class="col-md-6 col-sm-6 text-center">
      <img src="{% static 'svg/nanocomputers.svg' %}" style="height:400px !important" class="img-responsive"/>
      <h2>{% trans "O próximo parque de computadores de sua empresa." %}</h2>
      <p>{% blocktrans %} Com a possibilidade de usar a tecnologia EOS-D para construir terminais
        remotos inteligentes, a Efforia dispõe para você uma solução de alto desempenho
        e moderna a partir de uma rede de nanocomputadores interligados a um servidor
        de alta potência com a tecnologia EOS desenvolvida para o Efforia. {% endblocktrans %}</p>
    </div>
  </div>
</div>

{% endblock %}
