{% extends "tv/base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block header %}

<style>

.background {
  /* background: url("{% static 'img/hubpabg.png' %}") center center; */
  background: url("{% static 'img/colorfullivingroom.jpg' %}") center center;
  background-size: cover;
}

</style>

{% endblock %}

{% block start %}

<div class="jumbotron background">
  <div class="transparent-black overlay middle nobottom">
    <div class="container centered">
      <h2 class="jumbo-highlight white">{% blocktrans %} A SUA SALA DE ESTAR <br>EM UMA EXPERIÊNCIA IMERSIVA. {% endblocktrans %}</h2>
    </div>
  </div>
</div>

<nav class="navbar subnavbar hidden-xs hidden-sm nooverlay">
  <ul class="nav nav-pills submenu submenu-inverse right">
    <li class="leftmargin rightmargin">
      <button class="btn btn-default hub-btn" onclick="redirect('/store/choose');">{% trans "Buy" %}</button>
    </li>
    <!--{% include "tv/nav.html" %}!-->
    <li class="left leftmargin">
      <a href="{% url 'hubpro' %}" style="padding:0px">
        <img class="hub-logo" src="{% static 'svg/tvwhite.svg' %}"/>
      </a>
    </li>
  </ul>
</nav>

{% endblock %}

{% block main %}

<link rel="stylesheet" href="{% static 'css/hub.css' %}">

<div class="container">
  <div class="row">
    <div class="col-md-12 spaces-md">
      <div class="col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4">
        <img src="{% static 'svg/tvsimple.svg' %}" class="img-responsive"/></div>
      <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
        <h2 class="highlight">{% blocktrans %} O Efforia TV é a solução profissional que você esperava em
        robustez e versatilidade em automação doméstica ou corporativa. {% endblocktrans %}</h1></div>
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row text-center">
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/fastsimple.svg' %}" class="img-responsive img-rounded third-width"/>
      <h1>{% trans "Robusto" %}</h1>
      <h3>{% trans "Tudo na palma de sua mão" %}</h3>
      <p>{% blocktrans %} O Efforia TV representa o futuro da automação doméstica e corporativa:
      ele dispensa o uso de computadores para o sistema graças ao seu bom desempenho,
      sendo uma ótima opção para qualquer ambiente externo ou interno. {% endblocktrans %}</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/spectacularsimple.svg' %}" class="img-responsive img-rounded third-width">
      <h1>{% trans "Espetacular" %}</h1>
      <h3>{% trans "Ótima experiência audiovisual" %}</h3>
      <p>{% blocktrans %} Com a tecnologia baseada na plataforma Android, o Efforia TV traz
      uma experiência audiovisual sem par, somado à sua operação silenciosa,
      aproveitando o que há de melhor por horas sem você nem perceber. {% endblocktrans %}</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <img src="{% static 'svg/connectedsimple.svg' %}" class="img-responsive img-rounded third-width"/>
      <h1>{% trans "Ligado" %}</h1>
      <h3>{% trans "Amplamente conectável" %}</h3>
      <p>{% blocktrans %} Com as conexões sem fio (Wi-Fi), com fio (Ethernet), e de redes móveis
      (HSPA+) por padrão, seu Efforia TV está conectado com o que há de mais moderno,
      garantindo uma ótima saída de Internet para qualquer situação. {% endblocktrans %}</p>
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row text-center">
    <div class="col-md-6 col-sm-6">
      <img src="{% static 'svg/androidrobot.svg' %}" class="img-responsive full-width">
      <h1>{% trans "Appstacular" %}</h1>
      <h3>{% trans "Um mundo de possibilidades" %}</h3>
      <p>{% blocktrans %} A tecnologia é baseada na plataforma Android, o que te permite o uso
        de milhares de aplicativos que você estava acostumado a utilizar em seu
        smartphone, tablet ou outros gadgets, direto na sua televisão. {% endblocktrans %}</p>
    </div>
    <div class="col-md-6 col-sm-6">
      <img src="{% static 'svg/channels.svg' %}" class="img-responsive full-width">
      <h1>{% trans "O Futuro da TV" %}</h1>
      <h3>{% trans "Canais de streaming" %}</h3>
      <p>{% blocktrans %} Nós da Efforia acreditamos que o Efforia TV representa o futuro da televisão.
        Para isso temos diversas opções de canais de streaming, que oferecem diversos
        conteúdos, entre gratuitos e disponíveis para assinatura. {% endblocktrans %}</p>
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row text-center">
    <div class="col-md-4 col-sm-4">
      <!--<img src="{% static 'svg/hublateral.svg' %}" class="box img-responsive full-width">!-->
      <h1>{% trans "A TV fora da TV" %}</h1>
      <h3>{% trans "Ótima companhia para CATV" %}</h3>
      <p>{% blocktrans %} Montado com um design compacto, a opção de acessar aplicativos de canais
        de TV a cabo (CATV) e a gravação digital de programas de TV (DVR), ele é uma ótima
        opção para levar para onde você precisar. {% endblocktrans %}</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <!--<img src="{% static 'svg/eosd.svg' %}" class="img-responsive full-width">!-->
      <h1>{% trans "Super Versátil" %}</h1>
      <h3>{% trans "Tecnologias EOS e Android" %}</h3>
      <p>{% blocktrans %} Graças a compatibilidade com as tecnologias EOS e Android, o Efforia TV possui
        um uso completamente multifuncional, garantindo o equipamento mais completo
        da Efforia em suas mãos, dando asas à sua imaginação. {% endblocktrans %}</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <!--<img src="{% static 'svg/television.svg' %}" class="box img-responsive full-width">!-->
      <h1>{% trans "Expansível" %}</h1>
      <h3>{% trans "HD, SSD para maior capacidade" %}</h3>
      <p>{% blocktrans %} Com mais tecnologias de entrada e saída que o HUB convencional, há como
        expandir as possibilidades do Efforia TV, seja aumentando a sua capacidade
        de memória ou adicionando outras opções de conexão. {% endblocktrans %}</p>
    </div>
  </div>
</div>

<div class="container spaces-sm">
  <div class="row">
    <img src="{% static 'img/hubpa.png' %}" class="img-responsive third-width visible-xs"/>
    <div class="middle">
      <div class="col-md-4 col-md-offset-1 col-sm-6 col-xs-12 hidden-xs">
        <img src="{% static 'img/hubpa.png' %}" class="img-responsive full-width"/>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <h1 class="centered">{% trans "Especificações" %}</h1>
        <div class="col-md-12">
          <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/cpupro.svg' %}"/>
          <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-02.svg' %}"/>
          <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/mempro.svg' %}"/>
          <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-04.svg' %}"/>
          <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/ethpro.svg' %}"/>
          <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-06.svg' %}"/>
          <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-07.svg' %}"/>
          <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/specs-08.svg' %}"/>
          <img class="col-md-4 col-sm-4 col-xs-4" src="{% static 'svg/gsmpro.svg' %}"/>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
