<!doctype html>
<html lang="{{ LANGUAGE_CODE }}"{% if LANGUAGE_BIDI %} dir="rtl"{% endif %}>
{% load i18n static %}

<head>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="keywords" content="{% block meta_keywords %}{% endblock %}">
<meta name="description" content="{% block meta_description %}{% endblock %}">
<title>{% block meta_title %}{% endblock %}{% if settings.SITE_TITLE %} {{ settings.SITE_TITLE }}{% endif %}</title>
<link rel="shortcut icon" href="{% static "img/hubshortcut.png" %}">

<link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "css/dropdown.css" %}">
<link rel="stylesheet" href="{% static "css/font-awesome.css" %}">

{% block extra_css %}{% endblock %}

<script src="{% static "js/jquery-2.1.3.min.js" %}"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>
{% block extra_js %}{% endblock %}

<link rel="stylesheet" href="{% static "css/efforia.css" %}">
<link rel="stylesheet" href="{% static "css/main.css" %}">
<style>
@font-face { font-family: "Ubuntu"; src: url("{% static "ttf/ubuntu-l.ttf" %}"); }
@font-face { font-family: "Ubuntu"; src: url("{% static "ttf/ubuntu-b.ttf" %}"); font-weight: bold; }
</style>

{% block header %}{% endblock %}
</head>

<body>

  <!-- Common navbar for all sizes and pages of the website !-->
  <nav class="navbar navbar-default fixed-navbar">
    <div class="container-fluid">
      <a class="hidden-xs hidden-sm navbar-brand navbar-select" href="/">
        <img src="{% static "svg/hub.svg" %}" class="navbar-img" alt="Efforia"/>
      </a>
      <div class="navbar-header hidden-md">
        <button class="navbar-toggle collapsed bordered navbar-height navbar-corner-left"
                type="button" data-toggle="collapse" data-target="#collapsed">
          <span class="sr-only">{% trans "Toggle Navigation" %}</span>
          <span class="icon-bar bar"></span>
          <span class="icon-bar bar"></span>
          <span class="icon-bar bar"></span>
        </button>
        <a class="visible-xs visible-sm navbar-brand-center" href="/">
          <img src="{% static "svg/blacklogo.svg" %}" class="navbar-img" alt="Efforia"/>
        </a>
        <div class="visible-xs visible-sm navbar-cart navbar-corner-right">
          <button type="button" class="btn btn-lg btn-default" data-toggle="collapse" data-target="#profile">
            <span class="glyphicon glyphicon-shopping-cart"></span>
          </button>
        </div>
      </div>
      <div id="profile" class="collapse hidden-lg hidden-md">
        <ul class="nav navbar-nav navbar-height navbar-padding nav-default">
          {% include "includes/profile.html" %}
        </ul>
      </div>
      <div id="collapsed" class="collapse navbar-collapse navbar-left none" style="padding:0px">
        <ul class="nav navbar-nav navbar-height navbar-padding nav-default">
          <li class="dropdown menuitem">
            <a id="hub" href="{% url 'sensors' %}"> {% trans "ATOM" %} </a>
          </li>
          <li class="dropdown menuitem">
            <a id="hub" href="{% url 'hub' %}"> {% trans "HUB" %} </a>
            <!--<ul class="dropdown-menu menu"> {% include "hub/nav.html" %} </ul>!-->
          </li>
          <li class="dropdown menuitem">
            <a id="hubpro" href="{% url 'hubpro' %}"> {% trans "TV" %} </a>
            <!--<ul class="dropdown-menu menu"> {% include "tv/nav.html" %} </ul>!-->
          </li>
          <li class="dropdown menuitem">
            <a id="help" href="{% url 'support' %}"> {% trans "Help" %} </a>
            <!--<ul class="dropdown-menu menu"> {% include "help/nav.html" %} </ul>!-->
          </li>
        </ul>
        <div class="hidden visible-xs visible-sm centered" style="padding: 0px 5px;"> {% include "includes/search_form.html" %} </div>
      </div>
      <div id="profile" class="navbar-right navbar-cart hidden-xs hidden-sm">
        <div class="dropdown" id="pop">
          <a class="btn btn-lg btn-default" data-toggle="dropdown">
            <span class="glyphicon glyphicon-shopping-cart"></span>
          </a>
          <ul class="dropdown-menu btn-block account menu">
            {% include "includes/profile.html" %}
          </ul>
        </div>
      </div>
    </div>
  </nav>

  <!-- Main block for pages container !-->
  <div class="content">
    {% block start %} {% endblock %}
    {% block main %} {% endblock %}
    {% block end %} {% endblock %}
  </div>

  <!-- Common footer for all pages, including scripts !-->
  <footer class="footer">
    <div class="container-fluid">
      <div class="row white">
        <div class="col-md-6 col-sm-6 hidden-xs" style="text-align:right">
	  <div class="col-md-3 col-md-offset-3">
	    <h3>Produtos</h3>
	    <a class="white" href="{% url 'sensors' %}"><p>ATOM</p></a>
	    <a class="white" href="{% url 'hub' %}"><p>HUB</p></a>
	    <a class="white" href="{% url 'hubpro' %}"><p>TV</p></a>
          </div>
	  <div class="col-md-3">
	    <h3>Aplicações</h3>
	    <a class="white" href="{% url 'videogame' %}"><p>Entretenimento</p></a>
	    <a class="white" href="{% url 'mediacenter' %}"><p>Audiovisual</p></a>
	    <a class="white" href="{% url 'server' %}"<p>Nuvem</p></a>
	    <a class="white" href="{% url 'iot' %}"><p>IoT</p></a>
          </div>
	  <div class="col-md-3">
	    <h3>A Efforia</h3>
	    <a class="white" href="{% url 'localization'%}"><p>Localização</p></a>
	    <a class="white" href="{% url 'support' %}"><p>Ajuda</p></a>
	    <a class="white" href="/blog"><p>Blog</p></a>
	  </div>
	</div>
	<div class="col-md-2 col-sm-6 text">
	  <h3>Siga a Efforia</h3>
	  <style>
	    .social-icon {
	      min-height:60px;
	      background:#222;
	    }
	  </style>
	  <div class="row flex text-center" style="margin-top:15px">
            <div class="col-md-3 col-xs-3 middle social-icon">
	      <a class="white" href="http://www.facebook.com/efforianano">
	        <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
	      </a>
	    </div>
            <div class="col-md-3 col-xs-3 middle social-icon">
	      <a class="white" href="http://www.twitter.com/efforianano">
	        <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
	      </a>
	    </div>
            <div class="col-md-3 col-xs-3 middle social-icon">
	      <a class="white" href="https://plus.google.com/106385069867778439257">
	        <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
	      </a>
	    </div>
            <div class="col-md-3 col-xs-3 middle social-icon">
	      <a class="white" href="http://www.instagram.com/">
	        <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
	      </a>
	    </div>
	  </div>
	  <div class="row flex text-center">
            <div class="col-md-3 col-xs-3 middle social-icon">
	      <a class="white" href="https://www.youtube.com/channel/UCIn8CFewJH4XMiTSrGY9xVA">
	        <i class="fa fa-youtube-play fa-2x" aria-hidden="true"></i>
	      </a>
	    </div>
            <div class="col-md-3 col-xs-3 middle social-icon">
	      <a class="white" href="https://github.com/efforia/">
	        <i class="fa fa-github fa-2x" aria-hidden="true"></i>
	      </a>
	    </div>
            <div class="col-md-3 col-xs-3 middle social-icon">
	      <a class="white" href="https://pt.foursquare.com/v/fábrica-de-ideias-coworking--escritório-compartilhado/507e0c1a64a41ea912010f7c">
 	        <i class="fa fa-foursquare fa-2x" aria-hidden="true"></i>
	      </a>
	    </div>
            <div class="col-md-3 col-xs-3 middle social-icon">
	      <a class="white" href="https://www.medium.com/">
	        <i class="fa fa-medium fa-2x" aria-hidden="true"></i>
	      </a>
	    </div>
	  </div>
	</div>
        <div class="col-md-3 col-sm-6 col-xs-12">
	  <h3>Contate-nos</h3>
	  <style>
	    .black {
	      background:black;
	      padding:5px;
            }
	    .black-p {
	      margin:0px;
	    }
            .black-row {
	      padding-top:5px;
	      padding-bottom:5px;
	    }
	    .inverted {
	      filter:invert(100%);
	    }
	  </style>

	  <div class="row black-row flex">
            <div class="col-md-2 col-xs-3"><img src="{% static 'svg/whatsapp.svg' %}" class="black img-rounded img-responsive"></div>
	    <div class="col-md-10 col-xs-9 middle nopadding" style="justify-content:left">
	      <p class="black-p">{% blocktrans %} +555198485888 {% endblocktrans %}</p>
	    </div>
	  </div>
	  <div class="row black-row flex">
            <div class="col-md-2 col-xs-3"><img src="{% static 'svg/phone.svg' %}" class="black img-rounded img-responsive"></div>
            <div class="col-md-10 col-xs-9 middle nopadding" style="justify-content:left">
	      <p class="black-p">{% blocktrans %} (51) 3516-2367 {% endblocktrans %}</p>
	    </div>
	  </div>
	  <div class="row black-row flex">
            <div class="col-md-2 col-xs-3"><div class="black img-rounded"><img src="/static/svg/email.svg" class="inverted img-responsive"></div></div>
	    <div class="col-md-10 col-xs-9 middle nopadding" style="justify-content:left">
	      <p class="black-p">{% blocktrans %} ola@efforia.com.br {% endblocktrans %}</p>
	    </div>
	  </div>

	  <!--<div class="col-md-1 col-sm-1 col-xs-1"><img src="{% static 'svg/skype.svg' %}" class="black img-rounded img-responsive"></div>
	  <div class="col-md-11 col-sm-11 col-xs-11 nopadding"><p class="black-p">{% blocktrans %} efforiaca {% endblocktrans %}</p></div>!-->
        </div>
      </div>
      <hr>
      <div class="row white middle centered">{% include "includes/flags.html" %}</div>
      <div class="row info whitebg">
        <p class="visible-md visible-lg visible-sm site-info text-center">
          Efforia Tecnologia Ltda - ME
          <span class="separator">|</span> CNPJ: 15.436.865/0001-72
          <span class="separator">|</span> Vigário José Inácio, 399/702 - Porto Alegre/RS - Brasil
        </p>
        <p class="visible-xs site-info text-center">
          Efforia Tecnologia Ltda - ME<br/>
          CNPJ: 15.436.865/0001-72<br/>
          Rua Vigário José Inácio, 399/702<br/>
          Porto Alegre/RS - Brasil
        </p>
      </div>
    </div>
  </footer>
  {% include "includes/footer_scripts.html" %}
</body>
</html>
