{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block header %}
<link rel="stylesheet" href="{% static "css/index.css" %}">
<style>

.background {
  background: url("{% static 'img/hubpro.jpg' %}") center center;
  background-size: cover;
}

</style>

{% endblock %}

{% block main %}

<div class="jumbotron background">
  <div class="transparent-black overlay middle">
    <div class="container">
      <img class="jumbo-img" src="{% static "svg/efforialogo.svg" %}"/>
      <h2 class="jumbo-heading white">
        <div class="hidden-xs">{% trans "WE ARE" %}<br>{% trans "EFFORIA NANOCOMPUTERS" %}</div>
        <div class="hidden-lg hidden-md hidden-sm">{% trans "WE ARE" %} EFFORIA</div>
      </h2>
      <p class="white hidden-xs">_______________________________________________________</p>
      <p class="white hidden-lg hidden-md hidden-sm">_______________________</p>
      <p class="jumbo-p white"> {% trans "And we want the computers present at every moment of people's lives" %}. </p>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="centered row">
    <div class="col-md-4 col-sm-4">
      <a href="{% url 'mediacenter' %}"><img src="{% static "svg/audiovisual.svg" %}"/></a>
      <h1>{% trans "Audiovisual" %}</h1>
      <p>{% trans "At Efforia we design and build automated audiovisual systems, all wirelessly connected and tightly integrated." %}</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <a href="{% url 'videogame' %}"><img src="{% static "svg/entertainment.svg" %}"/></a>
      <h1>{% trans "Entertainment" %}</h1>
      <p>{% trans "We also develop full-featured entertainment systems, ready to play every video content, music, or videogame." %}</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <a href="{% url 'hub' %}"><img src="{% static "svg/automation.svg" %}"/></a>
      <h1>{% trans "Automation" %}</h1>
      <p>{% trans "At the heart of our nanocomputers, we have the IoT concept, reaching the next level of automation." %}</p>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="centered row">
    <div class="col-md-6 col-sm-6">
      <div class="row spaces-sm">
        <div class="hidden-xs middle">
          <div class="col-md-4 col-sm-6 col-xs-6 rightaligned">
            <h1>{% trans "Homes" %}</h1>
            <p>{% trans "We automate houses with our own finest technology of IoT, connecting your home to the world." %}</p>
          </div>
          <div class="col-md-8 col-sm-6 col-xs-6"><img src="{% static "svg/home.svg" %}"/></div>
        </div>
        <div class="visible-xs middle">
          <img src="{% static "svg/home.svg" %}" width="80%"/>
          <h1>{% trans "Homes" %}</h1>
          <p>{% trans "We automate houses with our own finest technology of IoT, connecting your home to the world." %}</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-6">
      <div class="row spaces-sm">
        <div class="hidden-xs middle">
          <div class="col-md-8 col-sm-6"><img src="{% static "svg/commerce.svg" %}"/></div>
          <div class="col-md-4 col-sm-6 leftaligned">
            <h1>{% trans "Enterprises" %}</h1>
            <p>{% trans "With the Internet of Things platform of Efforia, your company will have the power to do more." %}</p>
          </div>
        </div>
        <div class="visible-xs middle centered">
          <img src="{% static "svg/commerce.svg" %}" width="80%"/>
          <h1>{% trans "Enterprises" %}</h1>
          <p>{% trans "With the Internet of Things platform of Efforia, your company will have the power to do more." %}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container spaces-md">
  <div class="centered row">
    <div class="col-md-4 col-sm-4">
      <a href="{% url 'sensors' %}"><img src="{% static "svg/atom.svg" %}" width="80%"/></a>
      <h1>{% trans "ATOM" %}</h1>
      <p>{% trans "The ultimate device for Internet of Things automation by Efforia Nanocomputers." %}</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <a href="{% url 'hubpro' %}"><img src="{% static "svg/hubpro.svg" %}" width="80%"/></a>
      <h1>{% trans "TV" %}</h1>
      <p>{% trans "Discover about our outstanding solution for Audiovisual automation and its infinite possibilities." %}</p>
    </div>
    <div class="col-md-4 col-sm-4">
      <a href="{% url 'hub' %}"><img src="{% static "svg/hubdev.svg" %}" width="80%"/></a>
      <h1>{% trans "HUB" %}</h1>
      <p>{% trans "Know more about our efficient solution for General automation and its numerous possibilities." %}</p>
    </div>
  </div>
</div>

{% endblock %}
